body {
  background-color: black;
  margin: 0;
}
h1 {
  font-family: 'Kalam';
  font-size: 20px;
}
.header span {
  display: block;
}
@fraction : (@largest-@smallest)/@img-number;
img {
  float: left;
  width: 235px;
  margin: 20px 20px 20px 0;
  display: none;
}
.one img {
  display: block;
}
@media screen and (min-height: 457.5px) and (min-width: 260px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 285px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 502.5px) and (min-width: 310px) {
  img {
    width: 345px;
  }
  .two img {
    display: none;
  }
  .three img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 335px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 580px) and (min-width: 360px) {
  img {
    width: 390px;
  }
  .three img {
    display: none;
  }
  .four img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 395px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 630px) and (min-width: 420px) {
  img {
    width: 435px;
  }
  .four img {
    display: none;
  }
  .five img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 445px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 470px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 680px) and (min-width: 495px) {
  img {
    width: 480px;
  }
  .five img {
    display: none;
  }
  .six img {
    display: block;
  }
}
@media screen and (min-height: 730px) and (min-width: 520px) {
  img {
    width: 525px;
  }
  .six img {
    display: none;
  }
  .seven img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 545px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 780px) and (min-width: 570px) {
  img {
    width: 570px;
  }
  .seven img {
    display: none;
  }
  .eight img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 595px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-width: 635px) {
  .header span {
    display: inline;
  }
}
@media screen and (min-height: 830px) and (min-width: 620px) {
  img {
    width: 635px;
  }
  .eight img {
    display: none;
  }
  .nine img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 645px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 880px) and (min-width: 670px) {
  img {
    width: 660px;
  }
  .nine img {
    display: none;
  }
  .ten img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 695px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 720px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 745px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 770px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 930px) and (min-width: 795px) {
  img {
    width: 705px;
  }
  .ten img {
    display: none;
  }
  .eleven img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 820px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 845px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 870px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 895px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 480px) and (min-width: 920px) {
  img {
    width: 300px;
  }
  .one img {
    display: none;
  }
  .two img {
    display: block;
  }
}
@media screen and (min-height: 980px) and (min-width: 945px) {
  img {
    width: 750px;
  }
  .eleven img {
    display: none;
  }
  .twelve img {
    display: block;
  }
}
@media screen and (min-height: 1030px) and (min-width: 970px) {
  img {
    width: 795px;
  }
  .twelve img {
    display: none;
  }
  .thirteen img {
    display: block;
  }
}
@media screen and (min-height: 1080px) and (min-width: 995px) {
  img {
    width: 840px;
  }
  .thirteen img {
    display: none;
  }
  .fourteen img {
    display: block;
  }
}
@media screen and (min-height: 1130px) and (min-width: 1020px) {
  img {
    width: 885px;
  }
  .fourteen img {
    display: none;
  }
  .fifteen img {
    display: block;
  }
}
