// out: ../css/main.css, sourcemap: true

h1 {
  font-family: 'Kalam';
  font-size: 20px;
}

// SIZE VARIABLES
@smallest: 320px;
@largest: 1000px;
@img-number: 15;
@fraction: (@largest-@smallest)/@img-number;

img {
  float: left;
  width: 300px;
  margin: 20px 20px 20px 0;
  display: none;
}

.one {

  img { display: block; }
}


@media screen and (min-height: 320px) and (min-width: 320px) {

  .one {

    img { display: none; }
  }

  .two {

    img { display: block; }
  }
}
