// out: ../css/main.css, sourcemap: true

h1 {
  font-family: 'Kalam';
  font-size: 20px;
}

/* First image begins */

div {
  display: block;
}

@media screen and (min-height: 100px) and (min-width: 200px)
#1 {
    display: block;
    width: 450px;
    height: 290px;
}
