// out: ../css/main.css, sourcemap: true

body {
  background-color: black;
  margin: 0;
}

h1 {
  font-family: 'Kalam';
  font-size: 20px;
  color: ivory;
}

.header {

  span {
    display: block;
  }
}

// SIZE VARIABLES
@smallest: 320px;
@largest: 1000px;
@img-number: 15;
@fraction: (@largest-@smallest)/@img-number;

img {
  float: left;
  width: 220px;
  margin: 20px 20px 20px 0;
  display: none;
}

.one {

  img { display: block; }
}

// IMAGE 2 APPEARS

@media screen and (min-height: 384px) and (min-width: 256px) {
  img {
    width: 236px;
  }

  .one {

    img { display: none; }
  }

  .two {

    img { display: block; }
  }
}

// IMAGE 3 APPEARS

@media screen and (min-height: 424px) and (min-width: 292px) {
  img {
    width: 272px;
  }

  .two {

    img { display: none; }
  }

  .three {

    img { display: block; }
  }
}

// IMAGE 4 APPEARS

@media screen and (min-height: 464px) and (min-width: 328px) {
  img {
    width: 308px;
  }

  .three {

    img { display: none; }
  }

  .four {

    img { display: block; }
  }
}

// IMAGE 5 APPEARS

@media screen and (min-height: 504px) and (min-width: 364px) {
  img {
    width: 344px;
  }

  .four {

    img { display: none; }
  }

  .five {

    img { display: block; }
  }
}

// IMAGE 6 APPEARS

@media screen and (min-height: 544px) and (min-width: 400px) {
  img {
    width: 380px;
  }

  .five {

    img { display: none; }
  }

  .six {

    img { display: block; }
  }
}

// IMAGE 7 APPEARS

@media screen and (min-height: 584px) and (min-width: 436px) {
  img {
    width: 416px;
  }

  .six {

    img { display: none; }
  }

  .seven {

    img { display: block; }
  }
}

// IMAGE 8 APPEARS

@media screen and (min-height: 624px) and (min-width: 472px) {
  img {
    width: 452px;
  }

  .seven {

    img { display: none; }
  }

  .eight {

    img { display: block; }
  }
}

// IMAGE 9 APPEARS

@media screen and (min-height: 664px) and (min-width: 508px) {
    img {
      width: 488px;
    }

  .eight {

    img { display: none; }
  }

  .nine {

    img { display: block; }
  }
}

// HEADER ON ONE LINE
@media screen and (min-width: 635px) {
  .header {

    span {
      display: inline;
    }

  }
}

// IMAGE 10 APPEARS

@media screen and (min-height: 704px) and (min-width: 544px) {
    img {
      width: 524px;
    }

  .nine {

    img { display: none; }
  }

  .ten {

    img { display: block; }
  }
}

// IMAGE 11 APPEARS

@media screen and (min-height: 744px) and (min-width: 580px) {
    img {
      width: 560px;
    }

  .ten {

    img { display: none; }
  }

  .eleven {

    img { display: block; }
  }
}

// IMAGE 12 APPEARS

@media screen and (min-height: 784px) and (min-width: 616px) {
    img {
      width: 596px;
    }

  .eleven {

    img { display: none; }
  }

  .twelve {

    img { display: block; }
  }
}

// IMAGE 13 APPEARS

@media screen and (min-height: 824px) and (min-width: 652px) {
    img {
      width: 632px;
    }

  .twelve {

    img { display: none; }
  }

  .thirteen {

    img { display: block; }
  }
}

// IMAGE 14 APPEARS

@media screen and (min-height: 864px) and (min-width: 688px) {
    img {
      width: 668px;
    }

  .thirteen {

    img { display: none; }
  }

  .fourteen {

    img { display: block; }
  }
}

// IMAGE 15 APPEARS

@media screen and (min-height: 904px) and (min-width: 724px) {
    img {
      width: 704px;
    }

  .fourteen {

    img { display: none; }
  }

  .fifteen {

    img { display: block; }
  }
}

// IMAGE 16 APPEARS

@media screen and (min-height: 944px) and (min-width: 760px) {

    img {
      width: 740px;
  }

  .fifteen {

    img { display: none; }
  }

  .sixteen {

    img { display: block; }
  }
}

// IMAGE 17 APPEARS

@media screen and (min-height: 984px) and (min-width: 796px) {

    img {
      width: 776px;
  }

  .sixteen {

    img { display: none; }
  }

  .seventeen {

    img { display: block; }
  }
}

// IMAGE 18 APPEARS

@media screen and (min-height: 1024px) and (min-width: 832px) {
    img {
      width: 812px;
  }

  .seventeen {

    img { display: none; }
  }

  .eighteen {

    img { display: block; }
  }
}

// IMAGE 19 APPEARS

@media screen and (min-height: 1064px) and (min-width: 868px) {
    img {
      width: 848px;
  }

  .eighteen {

    img { display: none; }
  }

  .nineteen {

    img { display: block; }
  }
}
